<div class="shadow-none p-3 mb-3 bg-light rounded">
  <form class="form-inline mt-1">
    <label for="keywordtosearch">Search whatever you want to import</label>
    <input class="form-control" type="text" placeholder="Search" id="keywordtosearch" [(ngModel)]="keyword" name="keyword">
    <button class="btn btn-success" type="submit" [disabled]="!keyword" (click)="saveKeyWord()">Search</button>
  </form>
</div>
<div class="shadow-none p-3 mt-2 bg-light rounded">
  <h5>People are searching...</h5>
  <span class="badge badge-info mr-1" *ngFor="let item of keywords | async">{{item.name}}</span>

</div>
